@import './reset';
@import './variables/global';

html,
button,
input,
input::placeholder,
select {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: 400;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
