.card{
    display: block;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.img{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.info-film{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000, $alpha: 80%);
    transition: opacity 0.3s ease-in;
}

.info-film:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.info-film>*{
    padding: 10px;
}

.name-description{
    width:100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;    /* Число строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.name{
    width:100%;
    max-width: auto;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;    /* Число строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.text{
    width:100%;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;    /* Число строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.rating-div{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.time-div{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.time{
    width: 1.1rem !important;
    margin-right: 5px;
}

.rating-star{
    width: 1.1rem !important;
    margin-right: 5px;
}