.films-grid{
    margin-top: 50px;
}

.films-not-found{
    width: 100%;
    margin-top: 150px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.8rem;
    font-weight: 600;
}