.navbar {
    max-width: 100%;
}

.navlink {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 10px;
}

.active-navlink {
    color: #c7c7c7;
    text-decoration: none;
    padding: 5px 10px;
}