.grid{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-max-width), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 50px;
}