.applink {
    color: whitesmoke;
    display: block;
    text-decoration: none;
    padding: 8px 13px;
}

.active-applink {
    color: rgb(255 255 255 / 62%);
    display: block;
    text-decoration: none;
    padding: 8px 13px;
}