.applink {
    color: whitesmoke;
    display: block;
    text-decoration: none;
    padding: 8px 13px;
}

.active-applink {
    color: #c7c7c7;
    display: block;
    text-decoration: none;
    padding: 8px 13px;
}